# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Temporary files
*.swp
*.tmp
.DS_Store

# Data and results (generated)
data/

